attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
Django==1.6
django-extensions==2.2.1
dnspython==1.16.0
functools32==3.2.3.post2
idna==2.8
importlib-metadata==1.5.0
jsonschema==3.2.0
mysql-connector-python==8.0.19
mysqlclient==1.4.6
ocldev==0.1.54
pathlib2==2.3.5
protobuf==3.6.1
pyrsistent==0.15.7
python-dateutil==2.1
requests==2.22.0
scandir==1.10.0
six==1.12.0
typing==3.7.4
urllib3==1.25.8
zipp==1.2.0
